.App{
   margin: 5% !important;
   margin-top: 10px !important;
   max-width: 96% !important;
   
}

.image{
width: 60px !important;
text-align: center;
}
.svg{
    width: 100% !important;
    text-align: center;
}


body::-webkit-scrollbar {
    width: 0em;
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
}

nav {
  background-color: #1976d2;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content:flex-start;
}

nav ul li {
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  justify-content: space-around;
}

nav ul li:hover {
  background-color: #092846;
}

.nav-content {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}
